section {
  padding: 60px 0;
}

section:first-of-type {
  padding:0;
}

//section:last-of-type {
//  padding: 0 0 60px 0;
//  text-align: center;
//
//  @media (min-width: $breakpoint-desktop) {
//    padding: 0 60px 60px;
//    text-align: left;
//  }
//}

ul {
  list-style: none;
}

a {
  color: $aat-primary;
}