.considerations {
  background: $aat-bgd-primary;

  &__contain {
    @extend .container;

    &--inner {
      padding: 30px 15px 0;
      background: #fff;
      border: 1px solid $aat-border-secondary;
      max-width: 45em;
      margin: auto;

      .considerations__header {
        text-align: center;
      }

      .considerations__list {
        padding-bottom: 40px;

        &--item {
          margin: 30px 0 0 -32px;
          position: relative;
          padding: 0 0 0 34px;
          vertical-align: baseline;

          .considerations-fa {
            position: absolute;
            color: $aat-primary;
            left: 0;
            top: -6px;
            font-size: 26px;

            &:before {
              margin-left: -0.1em;
            }
          }
        }

        &--item:nth-child(1) {
          //Fix inline asterix span
          p {
          }
        }
      }

    }

    .considerations__more-info {
      margin: 30px 0;
      padding: 25px 30px 30px;
      background: $aat-bgd-secondary;

      p {
        font-size: 0.8em;
        display: inline;
      }
    }

    .considerations__asterix {
      font-size: 26px;
      color: $aat-primary;
      position: relative;
      display: inline;
      top: 7px;
      padding-right: 5px;
    }

    .considerations__asterix-small {
      @extend .considerations__asterix;
      font-size: inherit;
      top: 0;
    }

    .considerations__fees {
      border-top: 2px solid $aat-primary;
      margin: 0 -15px;
      padding: 30px 15px 60px;
      overflow: hidden;


      &--cost {
        @extend .col-md-9;
        @extend .col-xs-12;
        text-align: center;
        padding-left: 0;
        padding-bottom: 20px;

        &-text {
          font-size: 1.5em;
        }
      }

      &--cta {
        @extend .col-md-3;
        @extend .col-xs-12;
        text-align: center;
      }

      &--text {
        padding: 30px 9px;
        text-align: center;
        clear: both;

        &-ul {
          list-style: inherit;
          padding-top: 15px;
          font-size: .9em;
          text-align: left;
        }
      }
    }
  }

  @media (min-width: $breakpoint-desktop) {

    &__contain {
      &--inner {
        padding: 30px 60px 0;
      }
    }

    .considerations__fees {
      margin: 0 -60px;
      padding: 60px;

      &--cost {
        text-align: left;
        padding-bottom: 0;
      }

      &--cta {
        text-align: left;
      }

      &--text {
        text-align: left;
        padding: 30px 0;
      }
    }

  }
}

// Pure CSS for show more/less functionality
.read-more-state {
  display: none;
}

.read-more-wrap {
  display: inline;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .5s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
  content: '...See more';
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'See less';
}

.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  color: $aat-primary;
  font-weight: normal;
}