// TRADE GOTHIC
@font-face {
  font-family: "Trade Gothic W01_n1";
  src: url("http://wireframes.aws.aat.org.uk/prototypes/campaigns/dl/build/assets/fonts/vendor/tradegothic/1d699af3-0e50-4c4b-a343-42d071e85714.eot?#iefix") format("eot")
}

@font-face {

  font-family: "Trade Gothic W01";

  src: url("http://wireframes.aws.aat.org.uk/prototypes/campaigns/dl/build/assets/fonts/vendor/tradegothic/1d699af3-0e50-4c4b-a343-42d071e85714.eot?#iefix");

  src: url("http://wireframes.aws.aat.org.uk/prototypes/campaigns/dl/build/assets/fonts/vendor/tradegothic/1d699af3-0e50-4c4b-a343-42d071e85714.eot?#iefix") format("eot"), url("http://wireframes.aws.aat.org.uk/prototypes/campaigns/dl/build/assets/fonts/vendor/tradegothic/5414f75e-5cb8-4357-88e5-5a294424c859.woff2") format("woff2"), url("http://wireframes.aws.aat.org.uk/prototypes/campaigns/dl/build/assets/fonts/vendor/tradegothic/537b145a-6a7d-4787-81d9-7228d3a42458.woff") format("woff"), url("http://wireframes.aws.aat.org.uk/prototypes/campaigns/dl/build/assets/fonts/vendor/tradegothic/8e50278c-45cd-4808-b774-24767d958f17.ttf") format("truetype"), url("http://wireframes.aws.aat.org.uk/prototypes/campaigns/dl/build/assets/fonts/vendor/tradegothic/d918b947-5fcb-42e2-8286-a98a801876de.svg#d918b947-5fcb-42e2-8286-a98a801876de") format("svg");

  font-weight: 100;

  font-style: normal;

}

@font-face {

  font-family: "Trade Gothic W04_n7";

  src: url("http://wireframes.aws.aat.org.uk/prototypes/campaigns/dl/build/assets/fonts/vendor/tradegothic/42f8f200-6ff8-4b67-bc96-8d674f4b3275.eot?#iefix") format("eot")

}

@font-face {

  font-family: "Trade Gothic W04";

  src: url("http://wireframes.aws.aat.org.uk/prototypes/campaigns/dl/build/assets/fonts/vendor/tradegothic/42f8f200-6ff8-4b67-bc96-8d674f4b3275.eot?#iefix");

  src: url("http://wireframes.aws.aat.org.uk/prototypes/campaigns/dl/build/assets/fonts/vendor/tradegothic/42f8f200-6ff8-4b67-bc96-8d674f4b3275.eot?#iefix") format("eot"), url("http://wireframes.aws.aat.org.uk/prototypes/campaigns/dl/build/assets/fonts/vendor/tradegothic/0bfd2aae-9a10-46f3-924e-402e9ad13428.woff2") format("woff2"), url("http://wireframes.aws.aat.org.uk/prototypes/campaigns/dl/build/assets/fonts/vendor/tradegothic/215149dc-634c-4908-971e-9f03beeede36.woff") format("woff"), url("http://wireframes.aws.aat.org.uk/prototypes/campaigns/dl/build/assets/fonts/vendor/tradegothic/1cef6dfa-3f90-464c-a4aa-902709a78cea.ttf") format("truetype"), url("http://wireframes.aws.aat.org.uk/prototypes/campaigns/dl/build/assets/fonts/vendor/tradegothic/000415cf-58f3-457f-bf5f-5e28411c5069.svg#000415cf-58f3-457f-bf5f-5e28411c5069") format("svg");

  font-weight: 700;

  font-style: normal;

}

@font-face {

  font-family: "Trade Gothic W01_n7";

  src: url("http://wireframes.aws.aat.org.uk/prototypes/campaigns/dl/build/assets/fonts/vendor/tradegothic/257c802f-349c-4b4d-aefa-546d5de15ec6.eot?#iefix") format("eot")

}

@font-face {

  font-family: "Trade Gothic W01";
  src: url("http://wireframes.aws.aat.org.uk/prototypes/campaigns/dl/build/assets/fonts/vendor/tradegothic/257c802f-349c-4b4d-aefa-546d5de15ec6.eot?#iefix");

  src: url("http://wireframes.aws.aat.org.uk/prototypes/campaigns/dl/build/assets/fonts/vendor/tradegothic/257c802f-349c-4b4d-aefa-546d5de15ec6.eot?#iefix") format("eot"), url("http://wireframes.aws.aat.org.uk/prototypes/campaigns/dl/build/assets/fonts/vendor/tradegothic/1ba28851-f34b-4cb8-bf58-6a4b160ba249.woff2") format("woff2"), url("http://wireframes.aws.aat.org.uk/prototypes/campaigns/dl/build/assets/fonts/vendor/tradegothic/5fdc935e-9e30-442a-bbe9-8d887b858471.woff") format("woff"), url("http://wireframes.aws.aat.org.uk/prototypes/campaigns/dl/build/assets/fonts/vendor/tradegothic/616c4c87-a077-43f4-a9f4-f01267c13818.ttf") format("truetype"), url("http://wireframes.aws.aat.org.uk/prototypes/campaigns/dl/build/assets/fonts/vendor/tradegothic/c901ad5f-a842-4549-a1f4-583a97f7e169.svg#c901ad5f-a842-4549-a1f4-583a97f7e169") format("svg");

  font-weight: 700;

  font-style: normal;

}

// FONTELLO

@font-face {
  font-family: 'fontello';
  src: url('http://wireframes.aws.aat.org.uk/prototypes/campaigns/dl/build/assets/fonts/vendor/fontello/font/fontello.eot?61004238');
  src: url('http://wireframes.aws.aat.org.uk/prototypes/campaigns/dl/build/assets/fonts/vendor/fontello/font/fontello.eot?61004238#iefix') format('embedded-opentype'),
  url('http://wireframes.aws.aat.org.uk/prototypes/campaigns/dl/build/assets/fonts/vendor/fontello/font/fontello.woff?61004238') format('woff'),
  url('http://wireframes.aws.aat.org.uk/prototypes/campaigns/dl/build/assets/fonts/vendor/fontello/font/fontello.ttf?61004238') format('truetype'),
  url('http://wireframes.aws.aat.org.uk/prototypes/campaigns/dl/build/assets/fonts/vendor/fontello/font/fontello.svg?61004238#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

// STEELFISH

@font-face {

  font-family: "Steelfish W00 Regular";
  src: url("http://wireframes.aws.aat.org.uk/prototypes/campaigns/dl/build/assets/fonts/vendor/fonts-com/f14b23a5-10a5-4e55-9dc7-cbf5371d1350.eot?#iefix");
  src: url("http://wireframes.aws.aat.org.uk/prototypes/campaigns/dl/build/assets/fonts/vendor/fonts-com/f14b23a5-10a5-4e55-9dc7-cbf5371d1350.eot?#iefix") format("eot"), url("http://wireframes.aws.aat.org.uk/prototypes/campaigns/dl/build/assets/fonts/vendor/fonts-com/1d77e271-9813-45f7-ac6c-687a1b67a5b0.woff2") format("woff2"), url("http://wireframes.aws.aat.org.uk/prototypes/campaigns/dl/build/assets/fonts/vendor/fonts-com/c7f985fe-bbfe-410a-accc-f2fc062374c9.woff") format("woff"), url("http://wireframes.aws.aat.org.uk/prototypes/campaigns/dl/build/assets/fonts/vendor/fonts-com/5ba94a17-e046-4e8c-94cf-b91b7446a49e.ttf") format("truetype"), url("http://wireframes.aws.aat.org.uk/prototypes/campaigns/dl/build/assets/fonts/vendor/fonts-com/88f7d7b2-99ea-48ea-8b57-fcf5455d8565.svg#88f7d7b2-99ea-48ea-8b57-fcf5455d8565") format("svg");

}

@font-face {

  font-family: "Steelfish W00 Bold";

  src: url("http://wireframes.aws.aat.org.uk/prototypes/campaigns/dl/build/assets/fonts/vendor/fonts-com/81b946cf-f661-40a3-b4cf-f7bceb6a020f.eot?#iefix");

  src: url("http://wireframes.aws.aat.org.uk/prototypes/campaigns/dl/build/assets/fonts/vendor/fonts-com/81b946cf-f661-40a3-b4cf-f7bceb6a020f.eot?#iefix") format("eot"), url("http://wireframes.aws.aat.org.uk/prototypes/campaigns/dl/build/assets/fonts/vendor/fonts-com/16b7c055-69ab-47cb-bb25-219ca8020192.woff2") format("woff2"), url("http://wireframes.aws.aat.org.uk/prototypes/campaigns/dl/build/assets/fonts/vendor/fonts-com/9c0d0db0-f2b5-4bea-83ff-16d1a022b974.woff") format("woff"), url("http://wireframes.aws.aat.org.uk/prototypes/campaigns/dl/build/assets/fonts/vendor/fonts-com/e0fdcb7f-4180-465d-98b2-331487815fed.ttf") format("truetype"), url("http://wireframes.aws.aat.org.uk/prototypes/campaigns/dl/build/assets/fonts/vendor/fonts-com/1cb761cb-b050-4dc0-9dbe-4f07edc074c5.svg#1cb761cb-b050-4dc0-9dbe-4f07edc074c5") format("svg");

}


