$breakpoint-tablet: $screen-xs-min;
$breakpoint-tablet-lg: $screen-sm-min;
$breakpoint-desktop: $screen-md-min;
$breakpoint-desktop-wide: $screen-lg-min;

// Colours
$aat-primary: #00AB4E;
$aat-primary-10: #E5F6EC;
$aat-primary-60: #65CB93;
$aat-primary-90: #18B25E;
$aat-secondary: #00BB9D;
$aat-tertiary: #007C81;
$aat-quaternary: #FFC723;
$aat-quinary: #880060;

$aat-cta-primary: #F28300;
$aat-cta-secondary: #d07100;

$aat-lightgrey: #eeeeee;

$aat-text: #2f2f2f;

$aat-bgd-primary: #f4f4ef;
$aat-bgd-secondary: #edede5;

$aat-border-secondary: #dfdfd1;

$aat-btn-border: #32BA70;
$aat-btn-border-secondary: #7FD4A6;
$aat-btn-bgd: $aat-btn-border;

$aat-bgd-svg1: #edede5;
$aat-bgd-svg2: #dfdfd1;
$aat-bgd-svg2: #d1d1bd;